.booking-form {
    display: grid;
    max-width: 300px;
    gap: 20px;
    margin: 40px auto;
    text-align: left;
  }
  
  .booking-form input,
  .booking-form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .booking-form input[type="submit"] {
    background-color: #f4ce14;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
  
  .booking-form input[type="submit"]:hover {
    background-color: #ddb900;
  }
  